*.class

#Eclipse
.classpath
.project
.settings/
bin/

#IndelliJ
.idea/
*.iml
*.iws

#Mac
.DS_Store

#Maven
log/
target/
src/main/resources/spring/context-repository.xml
*.log
src/main/resources/properties/config/app.local.properties

.DS_Store
