src/main/resources/spring/context-repository.xml
src/main/resources/properties/config/app.local.properties
src/main/resources/properties/config/app.dev.properties
*.class
*.log

#Eclipse
.classpath
.project
.settings/
bin/

#IndelliJ
.idea/
*.iml
*.iws

#Mac
.DS_Store

#Maven
log/
target/
