<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apexsoft.ysprj.applicants.payment.sqlmap.CustomApplicationDocumentResultMapper" >
  <resultMap id="BaseResultMap" type="com.apexsoft.ysprj.applicants.payment.domain.CustomApplicationDocumentResult" >
    <id column="APPL_NO" property="applNo" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="APPL_ID" property="applId" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    *
    from APPL_DOC_RSLT
    where APPL_NO = #{applNo,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="com.apexsoft.ysprj.applicants.payment.domain.CustomApplicationDocumentResult" >
    insert into APPL_DOC_RSLT (
      APPL_NO,
      FILE_YN,
      APPL_ID
    )
    values (
      #{applNo,jdbcType=INTEGER},
      #{fileYn,jdbcType=VARCHAR},
      #{applId,jdbcType=VARCHAR}
    )
  </insert>

  <insert id="insertRows" parameterType="java.util.Map" >
    insert into APPL_DOC_RSLT (
      APPL_NO,
      FILE_YN,
      APPL_ID
    )
    values
    <foreach collection="paramList" item="param" separator=",">
    (
      #{param.applNo,jdbcType=INTEGER},
      #{param.fileYn,jdbcType=VARCHAR},
      #{param.applId,jdbcType=VARCHAR}
    )
    </foreach>
  </insert>

  <delete id="deleteAllRowsFromApplDocRslt">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Sep 18 18:37:48 KST 2014.
    -->
    delete from APPL_DOC_RSLT
  </delete>
</mapper>