<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apexsoft.ysprj.applicants.application.sqlmap.CustomApplicationDocumentMapper" >

    <resultMap id="totalDoc" type="com.apexsoft.ysprj.applicants.application.domain.TotalApplicationDocumentContainer" >
        <result column="APPL_NO"       jdbcType="INTEGER" property="applNo" />
        <result column="ADMS_NO"     jdbcType="VARCHAR" property="admsNo" />
        <result column="ADMS_CORS_NO"  jdbcType="INTEGER" property="admsCorsNo" />
        <result column="DETL_MAJ_CODE" jdbcType="VARCHAR" property="detlMajCode" />
        <result column="ADMS_CODE_GRP" jdbcType="VARCHAR" property="admsCodeGrp" />
        <result column="ADMS_CODE"     jdbcType="VARCHAR" property="admsCode" />

        <result column="GRP_LEVEL"     jdbcType="INTEGER" property="grpLevel" />
        <result column="DOC_ITEM_GRP"  jdbcType="INTEGER" property="docItemGrp" />
        <result column="DOC_TYPE_GRP"  jdbcType="VARCHAR" property="docTypeGrp" />
        <result column="DOC_TYPE_CODE" jdbcType="VARCHAR" property="docTypeCode" />
        <result column="DOC_ITEM_CODE" jdbcType="VARCHAR" property="docItemCode" />
        <result column="DOC_ITEM_NAME" jdbcType="VARCHAR" property="docItemName" />
        <result column="UP_CODE_GRP"   jdbcType="VARCHAR" property="upCodeGrp" />
        <result column="UP_CODE"       jdbcType="VARCHAR" property="upCode" />
        <result column="SEL_CODE_GRP"  jdbcType="VARCHAR" property="selCodeGrp" />
        <result column="LAST_YN"       jdbcType="VARCHAR" property="lastYn" />
        <result column="MDT_YN"        jdbcType="VARCHAR" property="mdtYn" />
        <result column="UPLOAD_YN"     jdbcType="VARCHAR" property="uploadYn" />
        <result column="SEND_CNT"      jdbcType="INTEGER" property="sendCnt" />
        <result column="ORGN_SEND_YN"  jdbcType="VARCHAR" property="orgnSendYn" />
        <result column="CHK_CND"       jdbcType="VARCHAR" property="chkCnd" />
        <result column="TMPL_YN"       jdbcType="VARCHAR" property="tmpltYn" />
        <result column="MSG_NO"        jdbcType="VARCHAR" property="msgNo" />

        <result column="DOC_SEQ"       jdbcType="INTEGER" property="docSeq" />
        <result column="DOC_GRP"       jdbcType="INTEGER" property="docGrp" />
        <result column="DOC_NAME"      jdbcType="VARCHAR" property="docName" />
        <result column="FILE_EXT"      jdbcType="VARCHAR" property="fileExt" />
        <result column="IMG_YN"        jdbcType="VARCHAR" property="imgYn" />
        <result column="FILE_PATH"     jdbcType="VARCHAR" property="filePath" />
        <result column="FILE_NAME"     jdbcType="VARCHAR" property="fileName" />
        <result column="ORG_FILE_NAME" jdbcType="VARCHAR" property="orgFileName" />
    </resultMap>


    <resultMap id="langGroup" type="com.apexsoft.ysprj.applicants.application.domain.LanguageGroup">
        <result column="LANG_SEQ" jdbcType="INTEGER" property="langSeq" />
        <result column="EXAM_CODE_GRP" jdbcType="VARCHAR" property="examCodeGrp" />
        <result column="EXAM_GROUP_NAME" jdbcType="VARCHAR" property="examGrpName" />
        <result column="EXAM_CODE" jdbcType="VARCHAR" property="examCode" />
        <result column="SEL_GRP_CODE" jdbcType="VARCHAR" property="selGrpCode" />
        <result column="MDT_YN" jdbcType="VARCHAR" property="mdtYn" />
        <result column="MDT_YN" jdbcType="VARCHAR" property="mdtYn" />
        <result column="MULTI_YN" jdbcType="VARCHAR" property="multiYn" />
        <result column="CAN_YN" jdbcType="VARCHAR" property="canYn" />
        <result column="MSG_NO" jdbcType="VARCHAR" property="msgNo" />
    </resultMap>

    <resultMap id="totalLang" type="com.apexsoft.ysprj.applicants.application.domain.TotalApplicationLanguageContainer">
        <result column="APPL_NO"       jdbcType="INTEGER" property="applNo" />

        <result column="CODE_GRP" jdbcType="VARCHAR" property="itemGrpCode" />
        <result column="CODE" jdbcType="VARCHAR" property="itemCode" />
        <result column="CODE_VAL" jdbcType="VARCHAR" property="itemName" />
        <result column="MDT_SEQ" jdbcType="INTEGER" property="mdtSeq" />
        <result column="UP_CODE_GRP" jdbcType="VARCHAR" property="upCodeGrp" />
        <result column="UP_CODE"       jdbcType="VARCHAR" property="upCode" />
        <result column="UP_MDT_SEQ" jdbcType="INTEGER" property="upMdtSeq" />
        <result column="LAST_YN" jdbcType="VARCHAR" property="lastYn" />
        <result column="SEL_GRP_CODE" jdbcType="VARCHAR" property="selGrpCode" />
        <result column="MDT_YN" jdbcType="VARCHAR" property="mdtYn" />
        <result column="CAN_YN" jdbcType="VARCHAR" property="canYn" />
        <result column="MSG_NO" jdbcType="VARCHAR" property="msgNo" />

        <result column="LANG_SEQ" jdbcType="INTEGER" property="langSeq" />
        <result column="LANG_EXAM_GRP" jdbcType="VARCHAR" property="langExamGrp" />
        <result column="LANG_EXAM_CODE" jdbcType="VARCHAR" property="langExamCode" />
        <result column="TOFL_TYPE_CODE" jdbcType="VARCHAR" property="toflTypeCode" />
        <result column="LANG_GRAD" jdbcType="VARCHAR" property="langGrad" />
        <result column="EXAM_NO" jdbcType="VARCHAR" property="examNo" />
        <result column="EXAM_DAY" jdbcType="VARCHAR" property="examDay" />
        <result column="EXPR_DAY" jdbcType="VARCHAR" property="exprDay" />

        <result column="DOC_SEQ" jdbcType="INTEGER" property="docSeq" />
        <result column="DOC_GRP" jdbcType="INTEGER" property="docGrp" />
        <result column="DOC_ITEM_NAME" jdbcType="VARCHAR" property="docItemName" />
        <result column="DOC_ITEM_CODE" jdbcType="VARCHAR" property="docItemCode" />
        <result column="DOC_NAME" jdbcType="VARCHAR" property="docName" />
    </resultMap>

    <resultMap id="applDoc" type="com.apexsoft.ysprj.applicants.application.domain.ApplicationDocument">
        <id column="APPL_NO" jdbcType="INTEGER" property="applNo" />
        <id column="DOC_SEQ" jdbcType="INTEGER" property="docSeq" />
        <result column="DOC_TYPE_CODE" jdbcType="VARCHAR" property="docTypeCode" />
        <result column="DOC_GRP" jdbcType="INTEGER" property="docGrp" />
        <result column="DOC_ITEM_CODE" jdbcType="VARCHAR" property="docItemCode" />
        <result column="DOC_ITEM_NAME" jdbcType="VARCHAR" property="docItemName" />
        <result column="DOC_NAME" jdbcType="VARCHAR" property="docName" />
        <result column="FILE_EXT" jdbcType="VARCHAR" property="fileExt" />
        <result column="IMG_YN" jdbcType="VARCHAR" property="imgYn" />
        <result column="FILE_PATH" jdbcType="VARCHAR" property="filePath" />
        <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
        <result column="ORG_FILE_NAME" jdbcType="VARCHAR" property="orgFileName" />
        <result column="CRE_ID" jdbcType="VARCHAR" property="creId" />
        <result column="CRE_DATE" jdbcType="TIMESTAMP" property="creDate" />
        <result column="MOD_ID" jdbcType="VARCHAR" property="modId" />
        <result column="MOD_DATE" jdbcType="TIMESTAMP" property="modDate" />
        <result column="DOC_ITEM_NAME_XXEN" jdbcType="VARCHAR" property="docItemNameXxen" />
        <result column="DOC_GRP_NAME" jdbcType="VARCHAR" property="docGrpName" />
    </resultMap>



    <select id="selectBasicTotalDocListByApplNo"   resultMap="totalDoc"   parameterType="java.lang.Integer" >
        SELECT
            BA.APPL_NO,
            GRP_LEVEL,
            DOC_ITEM_GRP,
            BA.DOC_TYPE_CODE,
            BA.DOC_ITEM_CODE,
            BA.DOC_ITEM_NAME,
            UP_CODE_GRP,
            UP_CODE,
            SEL_CODE_GRP,
            LAST_YN,
            MDT_YN,
            UPLOAD_YN,
            SEND_CNT,
            ORGN_SEND_YN ,
            CHK_CND,
            TMPLT_YN,
            MSG_NO,

            DOC_SEQ,
            DOC_GRP,
            DOC_NAME,
            FILE_EXT,
            IMG_YN,
            FILE_PATH,
            FILE_NAME,
            ORG_FILE_NAME
        FROM
            (SELECT C.APPL_NO,GRP_LEVEL, DOC_ITEM_GRP,
            DOC_TYPE_CODE,
            DOC_ITEM_CODE,
            CODEVAL( DOC_ITEM_GRP, DOC_ITEM_CODE) DOC_ITEM_NAME,
            UP_CODE_GRP,
            UP_CODE,
            SEL_CODE_GRP,
            LAST_YN,
            MDT_YN,
            UPLOAD_YN,
            SEND_CNT,
            ORGN_SEND_YN ,
            CHK_CND,
            TMPLT_YN,
            MSG_NO
            FROM ADMS_CORS_MAJ_MDT A, ADMS_CORS B, APPL C
            WHERE A.ADMS_CORS_NO = B.ADMS_CORS_NO
            AND B.ADMS_NO = C.ADMS_NO
            AND B.DEPT_CODE = C.DEPT_CODE
            AND B.CORS_TYPE_CODE = C.CORS_TYPE_CODE
            AND A.DETL_MAJ_CODE = C.DETL_MAJ_CODE
            AND IFNULL( B.ARI_INST_CODE,'') = IFNULL( C.ARI_INST_CODE,'')
            AND GRP_LEVEL = 1
            AND C.APPL_NO = #{applNo} ) BA
        LEFT OUTER JOIN APPL_DOC BB
            ON BA.APPL_NO = BB.APPL_NO
            AND BA.UP_CODE = BB.DOC_TYPE_CODE
            AND BA.DOC_ITEM_CODE = BB.DOC_ITEM_CODE

    </select>

    <select id="selectTotalApplicationDocumentList"   resultMap="totalDoc"   parameterType="com.apexsoft.ysprj.applicants.application.domain.TotalApplicationDocumentContainer" >

        SELECT
        BA.APPL_NO,
        GRP_LEVEL,
        DOC_ITEM_GRP,
        BA.DOC_TYPE_CODE,
        BA.DOC_ITEM_CODE,
        BA.DOC_ITEM_NAME,
        UP_CODE_GRP,
        UP_CODE,
        SEL_CODE_GRP,
        LAST_YN,
        MDT_YN,
        UPLOAD_YN,
        SEND_CNT,
        ORGN_SEND_YN ,
        CHK_CND,
        TMPLT_YN,
        MSG_NO,DOC_SEQ,
        DOC_GRP,
        DOC_NAME,
        FILE_EXT,
        IMG_YN,
        FILE_PATH,
        FILE_NAME,
        ORG_FILE_NAME
        FROM
        (SELECT C.APPL_NO, GRP_LEVEL, DOC_ITEM_GRP,
        DOC_TYPE_CODE,
        DOC_ITEM_CODE,
        CODEVAL( DOC_ITEM_GRP, DOC_ITEM_CODE) DOC_ITEM_NAME,
        UP_CODE_GRP,
        UP_CODE,
        SEL_CODE_GRP,
        LAST_YN,
        MDT_YN,
        UPLOAD_YN,
        SEND_CNT,
        ORGN_SEND_YN ,
        CHK_CND,
        TMPLT_YN,
        MSG_NO
        FROM ADMS_CORS_MAJ_MDT A, ADMS_CORS B, APPL C
        WHERE A.ADMS_CORS_NO = B.ADMS_CORS_NO
        AND B.ADMS_NO = C.ADMS_NO
        AND B.DEPT_CODE = C.DEPT_CODE
        AND B.CORS_TYPE_CODE = C.CORS_TYPE_CODE
        AND A.DETL_MAJ_CODE = C.DETL_MAJ_CODE
        AND IFNULL( B.ARI_INST_CODE,'') = IFNULL( C.ARI_INST_CODE,'')
        AND A.GRP_LEVEL = #{grpLevel}+1
        AND A.UP_CODE_GRP =#{docItemGrp}
        AND A.UP_CODE = #{docItemCode}
        AND C.APPL_NO = #{applNo} ) BA
        LEFT OUTER JOIN APPL_DOC BB
        ON BA.APPL_NO = BB.APPL_NO
        AND BA.UP_CODE = BB.DOC_TYPE_CODE
        AND BA.DOC_ITEM_CODE = BB.DOC_ITEM_CODE


    </select>

    <select id="selectLanguageTotalDocListByApplNo"   resultMap="totalDoc"   parameterType="java.lang.Integer" >

        SELECT
        BA.APPL_NO,
        1 AS GRP_LEVEL,
        BA.LANG_EXAM_GRP AS DOC_ITEM_GRP,
        '00005' AS DOC_TYPE_CODE,
        LANG_EXAM_CODE AS DOC_ITEM_CODE,
        CODEVAL(BA.LANG_EXAM_GRP,LANG_EXAM_CODE) AS DOC_ITEM_NAME,

        'NO' AS UP_CODE_GRP,
        'NO' AS UP_CODE,
        'NO' AS SEL_CODE_GRP,
        'Y' LAST_YN,
        'Y' AS MDT_YN,
        'Y' UPLOAD_YN,
        1 AS SEND_CNT,
        'N' AS ORGN_SEND_YN ,
        '' AS CHK_CND,
        '' AS TMPLT_YN,
        '' MSG_NO,
        DOC_SEQ,
        IFNULL(DOC_GRP, LANG_SEQ) AS DOC_GRP,
        DOC_NAME,
        FILE_EXT,
        IMG_YN,
        FILE_PATH,
        FILE_NAME,
        ORG_FILE_NAME
        FROM
        ( SELECT * FROM APPL_LANG
        WHERE APPL_NO = #{applNo} ) BA
        LEFT OUTER JOIN APPL_DOC BB
        ON BA.APPL_NO = BB.APPL_NO
        AND BA.LANG_SEQ = BB.DOC_GRP
        AND BB.DOC_TYPE_CODE = '00005'

    </select>


    <select id="selectLanguageGroupByApplNo"
            resultMap="langGroup"
            parameterType= "com.apexsoft.ysprj.applicants.application.domain.ParamForTotalLang" >

        SELECT BA.ADMS_CORS_NO,
        BA.DETL_MAJ_CODE,
        EXAM_CODE_GRP ,
        C.CODE_VAL EXAM_GROUP_NAME,
        EXAM_CODE ,
        MDT_SEQ,
        SEL_GRP_CODE,
        MDT_YN,
        MULTI_YN,
        CAN_YN,
        MSG_NO
        FROM ADMS_CORS_MAJ_LANG BA, APPL BB, ADMS_CORS BC,COMM_CODE C
        WHERE BC.ADMS_CORS_NO = BA.ADMS_CORS_NO
        AND BB.ADMS_NO =BC.ADMS_NO
        AND BB.DEPT_CODE = BC.DEPT_CODE
        AND BB.CORS_TYPE_CODE = BC.CORS_TYPE_CODE
        AND IFNULL( BB.ARI_INST_CODE,'') = IFNULL( BC.ARI_INST_CODE,'')
        AND BB.DETL_MAJ_CODE = BA.DETL_MAJ_CODE
        AND BB.APPL_NO = #{applNo}
        AND BA.GRP_LEVEL= 1
        AND BA.EXAM_CODE_GRP = C.CODE_GRP
        AND BA.EXAM_CODE = C.CODE


    </select>

    <select id="selectTotalLanguageInfoByApplNo"
            resultMap="totalLang"
            parameterType= "com.apexsoft.ysprj.applicants.application.domain.ParamForTotalLang" >
    SELECT
        CODE_GRP,
        CODE,
        CODE_VAL,
        MDT_SEQ,
        UP_MDT_SEQ,
        UP_CODE_GRP,
        SEL_GRP_CODE,
        MDT_YN,
        CAN_YN,
        MSG_NO,

        LANG_SEQ,
        LANG_EXAM_GRP,
        LANG_EXAM_CODE,
        TOFL_TYPE_CODE,
        EXAM_NO,
        LANG_GRAD,
        EXAM_DAY,
        EXPR_DAY,

        DOC_SEQ,
        DOC_GRP,
        CODEVAL('DOC_ITEM', DOC_ITEM_CODE) DOC_ITEM_NAME,
        DOC_ITEM_CODE,
        DOC_NAME

        FROM
        ( SELECT BA.ADMS_CORS_NO AS ADMS_CORS_NO, BA.DETL_MAJ_CODE, EXAM_CODE_GRP ,EXAM_CODE,MDT_SEQ, UP_CODE_GRP, UP_CODE, UP_MDT_SEQ, SEL_GRP_CODE, LAST_YN, MDT_YN, MULTI_YN, CAN_YN ,
        MSG_NO
        FROM ADMS_CORS_MAJ_LANG BA, APPL BB, ADMS_CORS BC
        WHERE BC.ADMS_CORS_NO = BA.ADMS_CORS_NO
        AND BB.ADMS_NO =BC.ADMS_NO
        AND BB.DEPT_CODE = BC.DEPT_CODE
        AND BB.CORS_TYPE_CODE = BC.CORS_TYPE_CODE
        AND BB.DETL_MAJ_CODE = BA.DETL_MAJ_CODE
        AND IFNULL( BB.ARI_INST_CODE,'') = IFNULL( BC.ARI_INST_CODE,'')
        AND BB.APPL_NO = #{applNo}
        AND BA.UP_CODE_GRP = #{itemGrpCode}
        AND BA.UP_CODE =#{itemCode}
        AND BA.UP_MDT_SEQ = #{mdtSeq}
        )B
        ON B.EXAM_CODE = A.CODE
        LEFT OUTER JOIN
        ( SELECT LANG_SEQ, LANG_EXAM_GRP, LANG_EXAM_CODE, TOFL_TYPE_CODE, EXAM_NO, LANG_GRAD, EXAM_DAY, EXPR_DAY FROM APPL_LANG
        WHERE APPL_NO = #{applNo}) C
        ON C.LANG_EXAM_CODE = B.EXAM_CODE AND C.LANG_EXAM_GRP =B.EXAM_CODE_GRP
        LEFT OUTER JOIN
        ( SELECT DOC_SEQ,DOC_TYPE_CODE, DOC_GRP,DOC_ITEM_NAME, DOC_ITEM_CODE, DOC_NAME FROM APPL_DOC
        WHERE APPL_NO = #{applNo})D
        ON D.DOC_TYPE_CODE ='00005'
        AND C.LANG_SEQ = D.DOC_GRP

    </select>

    <select id="selectTotalLanguageDoc"
            resultMap="totalLang"
            parameterType="com.apexsoft.ysprj.applicants.application.domain.TotalApplicationLanguageContainer">
        SELECT
        EXAM_CODE_GRP AS CODE_GRP,
        EXAM_CODE  AS CODE,
        CODEVAL( EXAM_CODE_GRP,EXAM_CODE)  AS CODE_VAL ,
        MDT_SEQ,
        UP_CODE_GRP,
        UP_CODE,
        UP_MDT_SEQ,
        LAST_YN,
        SEL_GRP_CODE,
        MDT_YN,
        CAN_YN,
        MSG_NO,

        LANG_SEQ,
        LANG_EXAM_GRP,
        LANG_EXAM_CODE,
        TOFL_TYPE_CODE,
        EXAM_NO,
        LANG_GRAD,
        EXAM_DAY,
        EXPR_DAY,

        DOC_SEQ,
        DOC_GRP,
        CODEVAL('DOC_ITEM', DOC_ITEM_CODE) DOC_ITEM_NAME,
        DOC_ITEM_CODE,
        DOC_NAME

        FROM
        ( SELECT BA.ADMS_CORS_NO AS ADMS_CORS_NO, BA.DETL_MAJ_CODE, EXAM_CODE_GRP ,EXAM_CODE,MDT_SEQ, UP_CODE_GRP, UP_CODE, UP_MDT_SEQ, SEL_GRP_CODE, LAST_YN, MDT_YN, MULTI_YN, CAN_YN ,
        MSG_NO
        FROM ADMS_CORS_MAJ_LANG BA, APPL BB, ADMS_CORS BC
        WHERE BC.ADMS_CORS_NO = BA.ADMS_CORS_NO
        AND BB.ADMS_NO =BC.ADMS_NO
        AND BB.DEPT_CODE = BC.DEPT_CODE
        AND BB.CORS_TYPE_CODE = BC.CORS_TYPE_CODE
        AND BB.DETL_MAJ_CODE = BA.DETL_MAJ_CODE
        AND IFNULL( BB.ARI_INST_CODE,'') = IFNULL( BC.ARI_INST_CODE,'')
        AND BB.APPL_NO = #{applNo}
        AND BA.UP_CODE_GRP = #{itemGrpCode}
        AND BA.UP_CODE =#{itemCode}
        AND BA.UP_MDT_SEQ = #{mdtSeq}
        )B
        LEFT OUTER JOIN
        ( SELECT LANG_SEQ, LANG_EXAM_GRP, LANG_EXAM_CODE, TOFL_TYPE_CODE, EXAM_NO, LANG_GRAD, EXAM_DAY, EXPR_DAY FROM APPL_LANG
        WHERE APPL_NO = #{applNo}) C
        ON C.LANG_EXAM_CODE = B.EXAM_CODE AND C.LANG_EXAM_GRP =B.EXAM_CODE_GRP
        LEFT OUTER JOIN
        ( SELECT DOC_SEQ,DOC_TYPE_CODE, DOC_GRP,DOC_ITEM_NAME, DOC_ITEM_CODE, DOC_NAME FROM APPL_DOC
        WHERE APPL_NO = #{applNo})D
        ON D.DOC_TYPE_CODE ='00005'
        AND C.LANG_SEQ = D.DOC_GRP

    </select>


    <select id="selectCodeMandatoryGroupByCode"   resultMap="totalDoc"   parameterType="com.apexsoft.ysprj.applicants.application.domain.ParamForCodeDocument" >
        SELECT
            GRP_LEVEL,
            ADMS_CODE_GRP,
            ADMS_CODE,
            ITEM_CODE_GRP AS DOC_ITEM_GRP,
            ITEM_CODE AS DOC_TYPE_CODE,
            ITEM_CODE AS DOC_ITEM_CODE,
            CODEVAL(ITEM_CODE_GRP,ITEM_CODE) AS DOC_ITEM_NAME,
            UP_CODE_GRP,
            UP_CODE,
            SEL_CODE_GRP,
            LAST_YN,
            MDT_YN,
            UPLOAD_YN,
            SEND_CNT,
            ORGN_SEND_YN ,
            CHK_CND,
            TMPLT_YN,
            MSG_NO
        FROM MDT_ADMS_CODE
        WHERE ADMS_NO = #{admsNo}
            AND ADMS_CODE_GRP = #{admsCodeGrp}
            AND ADMS_CODE = #{admsCode}
            AND GRP_LEVEL =1
            AND NOT_IN_YN !='Y'
            AND ITEM_CODE = #{itemCode}
        UNION
        SELECT
            GRP_LEVEL,
            ADMS_CODE_GRP,
            ADMS_CODE,
            ITEM_CODE_GRP AS DOC_ITEM_GRP,
            ITEM_CODE AS DOC_TYPE_CODE,
            ITEM_CODE AS DOC_ITEM_CODE,
            CODEVAL(ITEM_CODE_GRP,ITEM_CODE) AS DOC_ITEM_NAME,
            UP_CODE_GRP,
            UP_CODE,
            SEL_CODE_GRP,
            LAST_YN,
            MDT_YN,
            UPLOAD_YN,
            SEND_CNT,
            ORGN_SEND_YN ,
            CHK_CND,
            TMPLT_YN,
            MSG_NO
        FROM MDT_ADMS_CODE
        WHERE ADMS_NO = #{admsNo}
            AND ADMS_CODE_GRP = #{admsCodeGrp}
            AND ADMS_CODE != #{admsCode}
            AND GRP_LEVEL =1
            AND NOT_IN_YN ='Y'
            AND ITEM_CODE = #{itemCode}
    </select>

    <select id="selectTotalCodeApplicationDocumentList"   resultMap="totalDoc"   parameterType="com.apexsoft.ysprj.applicants.application.domain.TotalApplicationDocumentContainer" >
        SELECT
          GRP_LEVEL,
          ADMS_CODE_GRP,
          ADMS_CODE,
          ITEM_CODE_GRP AS DOC_ITEM_GRP,
          ITEM_CODE AS  DOC_ITEM_CODE,
          #{docGrp} AS DOC_GRP,
          #{docTypeCode} AS  DOC_TYPE_CODE,
          CODEVAL(ITEM_CODE_GRP,ITEM_CODE) AS DOC_ITEM_NAME,
          UP_CODE_GRP,
          UP_CODE,
          SEL_CODE_GRP,
          LAST_YN,
          MDT_YN,
          UPLOAD_YN,
          SEND_CNT,
          ORGN_SEND_YN ,
          CHK_CND,
          TMPLT_YN,
          MSG_NO
        FROM MDT_ADMS_CODE
        WHERE ADMS_NO = #{admsNo}
        AND ADMS_CODE_GRP = #{admsCodeGrp}
        AND ADMS_CODE = #{admsCode}
        AND GRP_LEVEL = #{grpLevel}+1
        AND UP_CODE_GRP = #{docItemGrp}
        AND UP_CODE = #{docItemCode}
    </select>

    <select id="selectCodeApplicationDocumentByTotalDocumentContainner"   resultMap="totalDoc"   parameterType="com.apexsoft.ysprj.applicants.application.domain.TotalApplicationDocumentContainer" >
        SELECT
        APPL_NO, DOC_SEQ, DOC_TYPE_CODE, DOC_GRP, DOC_ITEM_CODE, DOC_ITEM_NAME, DOC_NAME,
        FILE_EXT, IMG_YN, FILE_PATH, FILE_NAME, ORG_FILE_NAME, CRE_ID, CRE_DATE, MOD_ID,
        MOD_DATE, DOC_ITEM_NAME_XXEN, DOC_GRP_NAME
        FROM APPL_DOC
        WHERE APPL_NO = #{applNo}
        AND DOC_TYPE_CODE = #{docTypeCode}
        <if test="docGrp != null and docGrp != 0" >
            AND DOC_GRP = #{docGrp}
        </if>
        AND DOC_ITEM_CODE = #{docItemCode}

    </select>

    <select id="selectApplicationDocumentByTotalDocumentContainnerDocGrp"   resultMap="totalDoc"   parameterType="com.apexsoft.ysprj.applicants.application.domain.TotalApplicationDocumentContainer" >
        SELECT
        APPL_NO, DOC_SEQ, DOC_TYPE_CODE, DOC_GRP, DOC_ITEM_CODE, DOC_ITEM_NAME, DOC_NAME,
        FILE_EXT, IMG_YN, FILE_PATH, FILE_NAME, ORG_FILE_NAME, CRE_ID, CRE_DATE, MOD_ID,
        MOD_DATE, DOC_ITEM_NAME_XXEN, DOC_GRP_NAME
        FROM APPL_DOC
        WHERE APPL_NO = #{applNo}
        AND DOC_TYPE_CODE = #{docTypeCode}
        AND DOC_GRP = #{docGrp}
        AND DOC_ITEM_CODE = #{docItemCode}

    </select>

    <select id="selectMandatoryDocumentByDocType"   resultMap="totalDoc"   parameterType="com.apexsoft.ysprj.applicants.application.domain.ParamForCodeDocument" >
    SELECT
      APPL_NO,
      DOC_SEQ,
      DOC_GRP,
      DOC_TYPE_CODE,
      DOC_ITEM_CODE,
      DOC_ITEM_NAME,
      DOC_NAME,
      FILE_EXT,
      IMG_YN,
      FILE_PATH,
      FILE_NAME,
      ORG_FILE_NAME,
      DOC_ITEM_NAME_XXEN,
      DOC_GRP_NAME
    FROM APPL_DOC
    WHERE APPL_NO = #{applNo}
    AND DOC_TYPE_CODE = #{itemTypeCode}
    </select>
    <select id="selectApplicationDocumentListByDocGrp"   resultMap="totalDoc"   parameterType="com.apexsoft.ysprj.applicants.application.domain.ParamForApplicationDocument" >
        SELECT
        APPL_NO, DOC_SEQ, DOC_TYPE_CODE, DOC_GRP, DOC_ITEM_CODE, DOC_ITEM_NAME, DOC_NAME,
        FILE_EXT, IMG_YN, FILE_PATH, FILE_NAME, ORG_FILE_NAME, CRE_ID, CRE_DATE, MOD_ID,
        MOD_DATE, DOC_ITEM_NAME_XXEN, DOC_GRP_NAME
        FROM APPL_DOC
        WHERE APPL_NO = #{applNo}
        AND DOC_GRP = #{docGrp}
        AND DOC_TYPE_CODE IN ('00003','00002','00004','00021')
    </select>

    <select id="selectApplicationDocumentByDocumentType"   resultMap="totalDoc"
            parameterType="com.apexsoft.ysprj.applicants.application.domain.ParamForDocumentType" >
        SELECT
        APPL_NO, DOC_SEQ, DOC_TYPE_CODE, DOC_GRP, DOC_ITEM_CODE, DOC_ITEM_NAME,
        DOC_NAME,
        FILE_EXT, IMG_YN, FILE_PATH, FILE_NAME, ORG_FILE_NAME, CRE_ID, CRE_DATE
        , MOD_ID,
        MOD_DATE, DOC_ITEM_NAME_XXEN, DOC_GRP_NAME
        FROM APPL_DOC
        WHERE 1=1
        AND APPL_NO = #{applNo}
        <if test="docGrp != null and docGrp != 0" >
            AND DOC_GRP = #{docGrp}
        </if>
        <if test="docTypeCode != null" >
            AND DOC_TYPE_CODE = #{docTypeCode}
        </if>
        <if test="docItemCode != null" >
            AND DOC_ITEM_CODE = #{docItemCode}
        </if>
    </select>


    <select id="selectMaxSeqByApplNo" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
        select
        MAX(DOC_SEQ)
        from APPL_DOC
        where APPL_NO = #{applNo,jdbcType=INTEGER}
    </select>



    <select id="selectOneDocument"   resultMap="totalDoc"   parameterType="com.apexsoft.ysprj.applicants.application.domain.ApplicationDocumentKey" >
        SELECT
        APPL_NO, DOC_SEQ, DOC_TYPE_CODE, DOC_GRP, DOC_ITEM_CODE, DOC_ITEM_NAME, DOC_NAME,
        FILE_EXT, IMG_YN, FILE_PATH, FILE_NAME, ORG_FILE_NAME, CRE_ID, CRE_DATE, MOD_ID,
        MOD_DATE, DOC_ITEM_NAME_XXEN, DOC_GRP_NAME
        FROM APPL_DOC
        WHERE 1=1
        AND APPL_NO = #{applNo}
        AND DOC_SEQ = ${docSeq}
    </select>
</mapper>