<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apexsoft.ysprj.applicants.common.sqlmap.CustomDepartmentMapper" >

  <select id="selectByAdmsColl"
          resultType="com.apexsoft.ysprj.applicants.common.domain.CodeNameDepartment"
          parameterType="com.apexsoft.ysprj.applicants.common.domain.ParamForSetupCourses" >
      SELECT A.DEPT_CODE, B.DEPT_NAME
      FROM ADMS_DEPT A, DEPT B
      WHERE A.DEPT_CODE = B.DEPT_CODE
      AND A.ADMS_NO = #{admsNo,jdbcType=VARCHAR}
      AND B.COLL_CODE = #{collCode,jdbcType=VARCHAR}
      AND A.NOR_YN = 'Y'
      ORDER BY B.DEPT_SEQ
  </select>

  <select id="selectByAdmsAriInst"
          resultType="com.apexsoft.ysprj.applicants.common.domain.CodeNameDepartment"
          parameterType="com.apexsoft.ysprj.applicants.common.domain.ParamForSetupCourses" >
      SELECT A.DEPT_CODE, B.DEPT_NAME
      FROM ARI_ADMS_DEPT A, DEPT B
      WHERE A.DEPT_CODE = B.DEPT_CODE
      AND A.ADMS_NO = #{admsNo,jdbcType=VARCHAR}
      AND A.ARI_INST_CODE = #{ariInstCode,jdbcType=VARCHAR}
      ORDER BY B.DEPT_SEQ
  </select>

</mapper>