@charset "utf-8";

/* font-face */
@import url(//cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/nanumgothic.css);

/*** MEDIA QUERIES ***/
@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}

* {
	padding:0;
	margin:0;
}

body {
	font-size:16px;
	color:#777;
	background: #f8f8f8;
	font-family:'Nanum Gothic', Arial, sans-serif;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	padding-top: 86px;
}

@media(max-width:767px){
	body {
		padding-top:75px;
	}
}

/* header */

#mainHeader{
    background-color: #333 !important;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

#mainHeader .navbar-inner {
	background: #444;
	filter:none !important;
}
#mainMenu ul li a, #resMainMenu ul li a {
	color:#444;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background: #1a1a1a;
	color:#fff;
}

#mainHeader{
	background:#eee;
}

.navbar-brand{
	/*padding-top:30px;*/
	padding-left: 0;
}

.fixedHeader {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.fixedHeader #mainMenu li a {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.fixedHeader .nav-brand {
    margin-top: 0.6em;
    width: 100px;
}

.navbar-nav > li > a {
    display: block;
    font-size: 1em;
    margin: 0;
	padding-top:11px;
	padding-bottom:11px;
	vertical-align:middle;
    text-decoration: none;
    text-transform: uppercase;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.navbar-nav > li > a i {
	font-size: 16px;
	text-align: center;
	padding: 20px 0 10px 0;
	color:#ccc;
}

.navbar-nav > li > a:hover i, .navbar-nav > li.active > a i {
	color:#fff;
}

#mainHeader .pull-right{
	float:none !important;
}

.navbar {
	margin-bottom:0;
}

.navbar-default {
	background:none;
	border:none;
}

.nav.nav-tabs {
	margin-bottom:22px;
}

@media(max-width:767px){
	button.navbar-toggle {
		margin-top:18px;
	}
	a.navbar-brand {
	}
}

/* 네비게이션 (PC/모바일) */

@media(max-width:767px){
	.navbar-nav > li > a i {
		margin-right: 10px;
		font-size: 18px;
	}
	.navbar-nav > li > a {
		color:#fff !important;
	}

}

@media(min-width:768px){
	.navbar-nav > li > a i {
		display: block;
	}
	.navbar-nav > li > a {
		padding-top:0;
		padding-bottom:0;
		height:88px;
		color:#fff !important;
	}
	#mainHeader .pull-right{
		float:right !important;
	}
}


/* 메인이미지 */

.maskParent {
	position: relative;
	height:100%;
	width:100%;
}

.paralaxText {
	padding-top:66px;
	padding-bottom:66px;
	text-align:center;
	position: relative;

}
.paralaxMask {
	width:100%;
	height:434px;
	overflow:hidden;
	background:url(../img/main_img.jpg) no-repeat top center;
}

.paralaxMask2 {
	width:100%;
	height:175px;
	overflow:hidden;
	background:url(../img/main_img.jpg) no-repeat top center;
}

@media(max-width:767px){
	.paralaxMask {
		wid:100%;
		height:175px;
		overflow:hidden;
		background:url(../img/main_img.jpg) no-repeat top center;
	}
}


/* 메인화면 3개박스 */

.main_box1 {
	width:100%;
	margin-bottom:15px;
	border-radius:10px;
	border:1px solid #eaeaea;
	cursor:pointer;
	text-align:center;
}

.main_box1:hover {
	cursor:pointer;
}

.main_box1 h2.mtit1 {
	padding:12px;
	margin-bottom:145px;
	border-bottom:1px solid #eaeaea;
	font-size:26px;
	font-weight:600;
	color:#404040;
}

.main_box1 p.txt1 {
	padding:10px 30px 20px;
	font-size:16px;
	font-weight:300;
	color:#5e5e5e;
}

.main_box1#toAdmsList {
	background:url(../img/btn_main1_off.png) no-repeat center 80px;
}

.main_box1#toAdmsList:hover {
	background:url(../img/btn_main1.png) no-repeat center 80px;
}

.main_box1#toMyList {
	background:url(../img/btn_main3_off.png) no-repeat center 89px;
}

.main_box1#toMyList:hover {
	background:url(../img/btn_main3.png) no-repeat center 89px;
}

.main_box1#toSignUp {
	background:url(../img/btn_main2_off.png) no-repeat center 76px;
}

.main_box1#toSignUp:hover {
	background:url(../img/btn_main2.png) no-repeat center 76px;
}

/* content */

.con_wrap1 {
	min-height:520px;
	padding:20px 40px;
	border-radius:10px;
	border:1px solid #eaeaea;
	background:#fff;
}

@media(max-width:767px){
	.con_wrap1 {
	padding:10px 20px;
	border-radius:10px;
	border:1px solid #eaeaea;
	background:#fff;
	}
}

.con_wrap2 {
	padding:8px 0;
	border-radius:10px;
	background:#fff;
	overflow:hidden;
	line-height:30px;
}

.con_wrap3 {
	width:48%;
	float:left;
	min-height:249px;
	margin-left:4%;
	padding:15px;
	border-radius:10px;
	border:1px solid #eaeaea;
	background:#fff;
	line-height:20px;
	font-size:14px;
	margin-bottom:20px;
}

.con_wrap3:first-child {
	margin-left:0;
}

@media(max-width:767px){
.con_wrap3 {
	width:100%;
	float:left;
	padding:15px;
	border-radius:10px;
	border:1px solid #eaeaea;
	background:#fff;
	line-height:20px;
	font-size:14px;
	margin-bottom:12px;
	margin-left:0;
}
}

.con_wrap4 {
	min-height:520px;
	padding:20px 90px;
	margin:0 75px;
	border-radius:10px;
	border:1px solid #eaeaea;
	background:#fff;
	overflow:hidden;
}

@media(max-width:1190px){
	.con_wrap4 {
	padding:10px 20px !important;
	margin:0 !important;
	border-radius:10px;
	border:1px solid #eaeaea;
	background:#fff;
	}
}

.login_txt1 {
	font-size:12px;
}

.agree_wrap {
	padding:5px;
	border:1px solid #ececec;
	border-radius:8px;
	background:#fcfcfc;
}

.pay_txt1 {
	font-size:28px;
	font-weight:300;
	line-height:40px;
}

/* 진행상태바 */

.step_box {
	padding:30px 0 35px;
}

.step_box > li {
	display:table-cell;
	text-align:center;
	width:1%;
}

.step_box .step {
	position:relative;
	z-index:2;
	display:inline-block;
	width:40px;
	height:40px;
	line-height:40px;
	background:#fff;
	border:5px solid #ced1d6;
	border-radius:100%;
	text-align:center;
}

.step_box .step strong {
	color:#546474;
	font-size:18px;
	font-weight:700;
	display:block;
	margin-top:-5px;
}

.step_box > li:before {
	content:"";
	overflow:hidden;
	display:block;
	position:relative;
	top:21px;
	z-index:1;
	width:100%;
	height:1px;
	border-top:4px solid #ced1d6;
}

/*
.step_box > li:first-child:before {
	max-width:51%;
	left:50%;
}

.step_box > li.last:before {
	max-width:50%;
}
*/

.step_box > li.active:before, .step_box li.active .step {
	border-color:#00bc80;

}

.nav_lang {
	display:block;
	font-size:13px;
	padding-top:24px;
}

.nav_lang a {
	display:block;
	color:#fff;
}

.nav_lang a:hover {
	color:#ffc000 !important;
}

@media(max-width:767px){
.nav_lang {
	display:block;
	font-size:16px;
}

.nav_lang a {
	display:inline-block;
	color:#fff;
	margin-left:14px;
	margin-bottom:14px;
}

.nav_lang a:hover {
	color:#ffc000 !important;
}
}


/* 탭메뉴 */

@media(min-width:998px){
	#pc_tab {
	display:block;
	}
	#mb_tab {
	display:none;
	}
}

@media(max-width:997px){
	#pc_tab {
	display:none;
	}
	#mb_tab {
	display:block;
	}
}

.slogan {
	padding-bottom:12px;
	border-bottom:1px solid #e7e7e7;
}


/* table */

.narrow {
	 width:50%;
	 margin:0 auto;
}

.nobd {
	border:0 none !important;
}

@media(max-width:767px){
.narrow {
	 width:100%;
	 margin:0;
}
}

@media(max-width:991px){
.narrow {
	 width:100%;
}
}


.con_tit {
	position:relative;
	padding-top:30px;
}

.con_top_txt1 {
	padding:5px 14px;
	text-align:right;
	font-size:13px;
}

.input-info {
	padding:5px 0;
	font-size:12px;
	table-layout:fixed;
	word-wrap:break-word;
	word-break:break-all;
}

.validation-error {
	padding:5px 0;
	color:#db2121;
	font-size:12px;
	table-layout:fixed;
	word-wrap:break-word;
	word-break:break-all;
}

@media(min-width:768px){
	.slice {
		padding:50px 0;
	}
}

@media(max-width:767px){
	.slice {
		padding:15px 0;
	}
}



/* footer */

footer {
	padding:20px 0;
	color:#a9a9a9;
	background-color:#3f3f3f;
	border-top:1px solid #555;
}

footer p.ft_right {
	text-align:right;
}

@media(max-width:767px){
	footer p.ft_right {
		padding-top:15px;
		text-align:center;
		border-top:1px solid #787878;
	}
}

.txt_list1 {
	overflow:hidden;
	font-size:14px;
	letter-spacing:-1px;
}

.txt_list1 li {
	padding:0 10px;
	float:left;
	position:relative;
}

.txt_list1 li:before {
	height:10px;
	content:'';
	display:block;
	border-left:1px solid #787878;
	position:absolute;
	top:5px;
	left:0;
}

.txt_list1 li:first-child:before {
	border-left:0 none;
}

.txt_list1 li:first-child {
	padding-left:0;
}

.txt_list1 li span {
	color:#e5e5e5;
}


.box_wrap {
	position:relative;
	padding:22px 10px 10px;
	margin-bottom:20px;
	border:1px solid #cdcdcd;
}

.box_wrap h3.tit1 {
	padding:6px 17px;
	background:#5e5e5e;
	color:#fff;
	font-size:18px;
}

.box_wrap h4.tit1 {
	font-weight:300;
	font-size:22px;
}

/* 모달팝업(너비800) */
.popup0_wrap {
	width:900px;
	min-height:200px;
	padding-bottom:15px;
	border-radius:20px;
	border:1px solid #c0c0c0;
	background:#fff;
	position:fixed;
	z-index:999;
	left:50%;
	top:50%;
	overflow:hidden;
	box-shadow:2px 2px 4px #aeaeae;
	transform: translate(-50%, -50%);
}

.popup0_wrap .popuphead {
	padding:0 20px;
	margin-bottom:10px;
	border-bottom:1px solid #e3e3e3;
	background:#0082be;
}

.popup0_wrap .popuphead h1 {
	font-size:18px;
	font-weight:700;
	color:#fff;
	padding:0;
	margin:0;
	text-align:left;
}

.popup0_wrap .popupbody {
	padding:10px 20px;
	font-size:16px;
	font-weight:300;
}

.popup0_wrap .btn_close {
	position:absolute;
	top:10px;
	right:19px;
}

.popup0_wrap .table thead th {
	background:#f7f7f7;
	font-weight:bold;
	font-size:16px;
}

.popup0_wrap .table tbody td {
	font-size:14px;
	font-weight:normal;
}

.popup0_wrap .popup_btn {
	padding-top:18px;
	text-align:center;
}


/* 모달팝업(디폴트) */
.popup1_wrap {
	width:500px;
	min-height:200px;
	padding-bottom:15px;
	border-radius:20px;
	border:1px solid #c0c0c0;
	background:#fff;
	position:fixed;
	z-index:999;
	left:50%;
	top:50%;
	overflow:hidden;
	box-shadow:2px 2px 4px #aeaeae;
}

.popup1_wrap .popuphead {
	padding:0 20px;
	margin-bottom:10px;
	border-bottom:1px solid #e3e3e3;
	background:#0082be;
}

.popup1_wrap .popuphead h1 {
	font-size:18px;
	font-weight:700;
	color:#fff;
	padding:0;
	margin:0;
	text-align:left;
}

.popup1_wrap .popupbody {
	padding:10px 20px;
	font-size:16px;
	font-weight:300;
}

.popup1_wrap .btn_close {
	position:absolute;
	top:10px;
	right:19px;
}

.popup1_wrap .table thead th {
	background:#f7f7f7;
	font-weight:bold;
	font-size:16px;
}

.popup1_wrap .table tbody td {
	font-size:14px;
	font-weight:normal;
}

.popup1_wrap .popup_btn {
	padding-top:18px;
	text-align:center;
}


/* 모달팝업(Alert) */
.popup2_wrap {
	width:300px;
	min-height:100px;
	padding:5px 20px;
	border-radius:12px;
	border:1px solid #c0c0c0;
	background:#fff;
	position:fixed;
	z-index:999;
	left:50%;
	top:50%;
	overflow:hidden;
	box-shadow:2px 2px 4px #aeaeae;
}

.popup2_wrap h1.popup_tit1 {
	font-size:16px;
	font-weight:700;
	color:red;
	padding:0;
	margin:0;
	text-align:center;
	border-bottom:1px solid #e7e7e7;
	margin-bottom:10px;
}

.popup2_wrap .popupbody {
	text-align:center;
	font-size:14px;
	font-weight:300;
}

.popup2_wrap .btn_close {
	position:absolute;
	top:14px;
	right:20px;
}

.popup2_wrap .popup_btn{
	padding:15px 0;
	text-align:center;
}



/* 모달팝업(Confirm) */

.popup3_wrap {
	width:300px;
	min-height:100px;
	padding:5px 20px;
	border-radius:12px;
	border:1px solid #c0c0c0;
	background:#fff;
	position:fixed;
	z-index:999;
	left:50%;
	top:50%;
	overflow:hidden;
	box-shadow:2px 2px 4px #aeaeae;
}

.popup3_wrap h1.popup_tit1 {
	font-size:16px;
	font-weight:700;
	color:red;
	padding:0;
	margin:0;
	text-align:center;
	border-bottom:1px solid #e7e7e7;
	margin-bottom:10px;
}

.popup3_wrap .popupbody {
	text-align:center;
	font-size:14px;
	font-weight:300;
}

.popup3_wrap .popupbody .popup_btn{
	padding:15px 0;
}


/* 다음주소찾기 모달팝업 */

.daum_post {
	overflow:hidden;
	border:1px solid #c0c0c0;
	border-radius:20px;
	position:fixed;
	z-index:999;
	width:720px;
	height:510px;
	left:50%;
	margin-left:-360px;
	top:50%;
	margin-top:-235px;
	-webkit-overflow-scrolling:touch;
	background-color:#fff;
	color: #111;
	box-shadow:2px 2px 4px #aeaeae;
}

.daum_post .btn_close {
	cursor:pointer;
	position:absolute;
	right:15px;
	top:15px
}

.web_dialog_overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #000000;
	opacity: .35;
	filter: alpha(opacity=35);
	-moz-opacity: .35;
	z-index: 101;
	display: none;
}

.fa-calendar {margin-top:-2px !important;}

/* h1,h2,h3,h4... */
h1, h2, h3, h4, h5, h6, legend {
	margin:0;
}

h1 {
	font-size: 44px;
	line-height: 44px;
	font-style: normal;
	text-align:center;
	text-transform:uppercase;
	position:relative;
	margin-bottom: 17px;
	color:#444;
}

h1.tit2 {
	font-size:38px;
	line-height: 44px;
	font-style: normal;
	text-align:left;
	text-transform:uppercase;
	position:relative;
	margin: 20px 0 30px;
	color:#444;
}

h1.tit2:after {
	display:block;
	height:1px;
	width:100px;
	background:#00bc80;
	content:'';
	bottom:-19px;
	position:absolute;
	left:0;
}

h1.tit3 {
	font-size:38px;
	line-height: 44px;
	font-style: normal;
	text-align:center;
	text-transform:uppercase;
	position:relative;
	margin: 20px 0 50px;
	color:#444;
}

h1.tit3:after {
	display:block;
	height:1px;
	width:100px;
	background:#00bc80;
	content:'';
	bottom:-19px;
	position:absolute;
	margin-left:-50px;
	left:50%;
}

h2.tit1 {
	font-size: 22px;
	line-height: 26px;
	font-style: normal;
	padding-bottom:6px;
	margin-top:30px;
	margin-bottom:5px;
	color:#383838;
	border-bottom:3px solid #6f6f6f;
}

h2.sub_tit1 {
	margin-bottom:17px;
	font-size:24px;
	line-height: 24px;
	margin-bottom:90px;
	text-align:center;
}

h2.sub_tit1:after {
	display:block;
	height:0px;
	width:100px;
	background:#00b5d8;
	content:'';
	bottom:-37px;
	position:absolute;
	margin-left:-50px;
	left:50%;
}

h2.sub_tit2 {
	font-size:14px;
	font-weight:normal;
	line-height: 24px;
	margin-top:-18px;
	margin-bottom:30px;
	text-align:center;
}


@media(max-width:767px){
	h2.sub_tit2 {
		font-size:14px;
		font-weight:normal;
		line-height: 24px;
		padding-top:20px;
		margin-bottom:22px;
		text-align:center;
	}
}


h2.sub_tit3 {
	font-size:22px;
	font-weight:normal;
	line-height: 24px;
	margin-bottom:30px;
	text-align:center;
}

h3.sub_tit1 {
	padding-bottom:10px;
	border-bottom:1px solid #f2f2f2;
}

.txt_tit1 {
	color:#2193db;
	padding:6px 0;
}

@media (max-width:767px){
h1 {
	font-size: 28px;
	line-height: 32px;
	font-style: normal;
	text-align:center;
	text-transform:uppercase;
	position:relative;
	margin-bottom: 17px;
	color:#444;
}

h1.tit2 {
	font-size:28px;
	line-height: 32px;
	font-style: normal;
	text-align:left;
	text-transform:uppercase;
	position:relative;
	margin: 10px 0 15px;
	color:#444;
}

h1.tit2:after {
	display:block;
	height:1px;
	width:100px;
	background:#00bc80;
	content:'';
	bottom:-12px;
	position:absolute;
	left:0;
}

h1.tit3 {
	font-size:28px;
	line-height: 32px;
	font-style: normal;
	text-align:center;
	text-transform:uppercase;
	position:relative;
	margin: 10px 0 15px;
	color:#444;
}

h1.tit3:after {
	display:block;
	height:1px;
	width:100px;
	background:#00bc80;
	content:'';
	bottom:-12px;
	position:absolute;
	margin-left:-50px;
	left:50%;
}


h2.sub_tit1 {
	margin-bottom:12px;
	font-size:18px;
	line-height: 22px;
	margin-bottom:50px;
	text-align:center;
}

h2.sub_tit1:after {
	display:block;
	height:0px;
	width:100px;
	background:#00b5d8;
	content:'';
	bottom:-25px;
	position:absolute;
	margin-left:-50px;
	left:50%;
}

@media (min-width:1200px){
    h2.sub_tit1 {
        margin-bottom:17px;
        font-size:24px;
        line-height: 24px;
        margin-bottom:90px;
        text-align:center;
    }

    h2.sub_tit1:after {
        display:block;
        height:0px;
        width:100px;
        background:#00b5d8;
        content:'';
        bottom:52px;
        position:absolute;
        margin-left:-50px;
        left:50%;
    }
}

h2.sub_tit2 {
	font-size:14px;
	font-weight:normal;
	line-height: 24px;
	margin-bottom:22px;
	text-align:center;
}
}

p.tit1 {
	font-size: 48px;
	line-height: 56px;
	font-style: normal;
	text-align: left;
	text-transform:uppercase;
	position:relative;
	letter-spacing: -0.1em;
	margin-bottom:28px;
	color:#fff;
}

p.tit2 {
	font-size:26px;
	line-height: 32px;
	font-style: normal;
	padding:0;
	margin-bottom:17px;
	letter-spacing: -0.1em;
	color:#fff;
}


/* remove the underline on H1 when not needed */
h1.bigTitle:after, .boxWrapper h1:after, .pricingBloc h1:after, .team h1:after, .iconBoxV3 h1:after, #sliderWrapper h1:after, .fullwidthbanner-container h1:after, .camera_caption h1:after, .caption h1:after, .bulle h1:after, .iconBoxV2 .iconBox-body h1:after {
	content:none
}
h3, legend {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 14px;
	letter-spacing: -0.06em;
}
/*h3 > span {*/
	/*font-size: 14px;*/
	/*letter-spacing: -0.06em;*/
/*}*/
h4 {
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 6px;
	font-weight: bold;
}
h5 {
	font-style: normal;
	font-size: 1.116em;
	line-height: 1.5714em;
	margin-bottom: 0.916em;
}
h6 {
	font-style: italic;
	margin-bottom: 2em;
	font-size: 1em;
	line-height:1em;
}
h1 small, h2 small, h3 small, h4 small {
	text-transform:none;
	font-size:0.5em;
	color:inherit;
}
strong {
	font-weight:bold
}
small, aside {
}
ul, ol {
	list-style:none;
}
li {
	line-height: inherit;
}
a:link, a:visited {
	text-decoration:none;
}
a:hover, a:active {
	text-decoration:none;
}
ul.iconsList li a:hover {
	text-decoration:none;
}
a.readMore {
	display:block;
	margin-top:0.75em;
	font-style:italic;
}
caption, legend, .hidden {
	line-height: 0;
	font-size: 0;
	visibility: hidden;
}
hr {
	display:none;
	height: 0;
    -moz-box-sizing: content-box;
         box-sizing: content-box;
}

.bnt-pst {
	width:22px;
	height:24px;
	position:absolute;
	top:3px;
	right:3px;
	background:#007ed7;
}

.bnt-pst .close {
	position:absolute;
	top:-3px;
	right:4px;
	font-size:26px;
	color:#fff !important;
	filter:alpha(opacity=100);
	opacity:1;
	font-weight:normal;
}

.btn_wrap1 {
	padding-top:20px;
	margin-top:20px;
	border-top:1px solid #efefef;
}




/* 블렛 */

.ipt_tit {
	background:url(../img/bu_check1.png) no-repeat left 6px;
	padding-left:14px;
}


/* font-face */

/*@font-face {*/
  /*font-family:'Nanum Gothic';*/
  /*font-style:normal;*/
  /*font-weight:400;*/
  /*src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);*/
  /*src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),*/
       /*url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2) format('woff2'),*/
       /*url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'),*/
       /*url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype');*/
/*}*/

/*@font-face {*/
  /*font-family:'Nanum Gothic';*/
  /*font-style:normal;*/
  /*font-weight:600;*/
  /*src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);*/
  /*src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),*/
       /*url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2) format('woff2'),*/
       /*url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'),*/
       /*url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype');*/
/*}*/

/*@font-face {*/
  /*font-family:'Nanum Gothic';*/
  /*font-style:normal;*/
  /*font-weight:700;*/
  /*src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot);*/
  /*src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),*/
       /*url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff2) format('woff2'),*/
       /*url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff) format('woff'),*/
       /*url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.ttf) format('truetype');*/
/*}*/
 /**/
/*@font-face {*/
  /*font-family:'Nanum Gothic';*/
  /*font-style:normal;*/
  /*font-weight:800;*/
  /*src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot);*/
  /*src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),*/
       /*url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff2) format('woff2'),*/
       /*url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff) format('woff'),*/
       /*url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.ttf) format('truetype');*/
/*}*/


/* font-weight */

.fs300 {font-weight:300;}
.fs600 {font-weight:600;}
.fs700 {font-weight:700;}
.fS800 {font-weight:800;}


/* font-color */

.color-red {color:#de3b3b;}
.color-org {color:#f6950a;}
.color-blue {color:#0093d7;}
.color-green {color:#8ed700;}
.color-white {color:#fff;}
.color-black {color:#3a3a3a;}


/* margin */

.mt-13 {margin-top:-13px;}
.mt5 {margin-top: 5px}
.mt10 {margin-top: 10px}
.mt15 {margin-top: 15px}
.mt20 {margin-top: 20px}
.mt25 {margin-top: 25px}
.mt30 {margin-top: 30px}

.ml5 {margin-left: 5px}
.ml10 {margin-left: 10px}
.ml15 {margin-left: 15px}
.ml20 {margin-left: 20px}
.ml25 {margin-left: 25px}
.ml30 {margin-left: 30px}

.mr5 {margin-right: 5px}
.mr10 {margin-right: 10px}
.mr15 {margin-right: 15px}
.mr20 {margin-right: 20px}
.mr25 {margin-right: 25px}
.mr30 {margin-right: 30px}

.mb5 {margin-bottom: 5px}
.mb10 {margin-bottom: 10px}
.mb15 {margin-bottom: 15px}
.mb20 {margin-bottom: 20px}
.mb25 {margin-bottom: 25px}
.mb30 {margin-bottom: 30px}


/* padding */

.nopd {padding:0;}

.pt0 {padding-top: 0}
.pt5 {padding-top: 5px}
.pt10 {padding-top: 10px}
.pt15 {padding-top: 15px}
.pt20 {padding-top: 20px}
.pt25 {padding-top: 25px}
.pt30 {padding-top: 30px}

.pl0 {padding-left: 0}
.pl5 {padding-left: 5px}
.pl10 {padding-left: 10px}
.pl15 {padding-left: 15px}
.pl20 {padding-left: 20px}
.pl25 {padding-left: 25px}
.pl30 {padding-left: 30px}

.pr0 {padding-right: 0}
.pr5 {padding-right: 5px}
.pr10 {padding-right: 10px}
.pr15 {padding-right: 15px}
.pr20 {padding-right: 20px}
.pr25 {padding-right: 25px}
.pr30 {padding-right: 30px}

.pb0 {padding-bottom: 0}
.pb5 {padding-bottom: 5px}
.pb10 {padding-bottom: 10px}
.pb15 {padding-bottom: 15px}
.pb20 {padding-bottom: 20px}
.pb25 {padding-bottom: 25px}
.pb30 {padding-bottom: 30px}

table.noborder th, table.noborder td {
	border:0 none !important;
}