<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apexsoft.ysprj.sysadmin.sqlmap.SysAdminMapper" >

  <resultMap id="BaseResultMap" type="com.apexsoft.ysprj.sysadmin.domain.BackUpApplDoc" >
    <id column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="CAMP_NAME" property="campName" jdbcType="VARCHAR" />
    <result column="COLL_NAME" property="collName" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="APPL_NO" property="applNo" jdbcType="INTEGER" />
    <result column="KOR_NAME" property="korName" jdbcType="VARCHAR" />
    <result column="ENG_SUR" property="engSur" jdbcType="VARCHAR" />
    <result column="ENG_NAME" property="engName" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    CAMP_NAME, COLL_NAME, DEPT_NAME, USER_ID, APPL_NO, KOR_NAME, ENG_SUR, ENG_NAME
  </sql>

  <select id="selectAllPdfInfo" resultMap="BaseResultMap">
    select A.CAMP_NAME, B.COLL_NAME, C.DEPT_NAME, D.USER_ID, D.APPL_NO, D.KOR_NAME, D.ENG_SUR, D.ENG_NAME
    from CAMP A, COLL B, DEPT C, APPL D
    where A.CAMP_CODE = D.CAMP_CODE
    and   B.COLL_CODE = D.COLL_CODE
    and   C.DEPT_CODE = D.DEPT_CODE
    and   D.APPL_STS_CODE = '00020'
    order by 1, 2, 3, 4;
  </select>

</mapper>