<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apexsoft.ysprj.sysadmin.sqlmap.SysAdminMapper" >

  <resultMap id="BaseResultMap" type="com.apexsoft.ysprj.sysadmin.domain.BackUpApplDoc" >
    <id column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="CAMP_NAME" property="campName" jdbcType="VARCHAR" />
    <result column="COLL_NAME" property="collName" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="APPL_NO" property="applNo" jdbcType="INTEGER" />
    <result column="APPL_ID" property="applId" jdbcType="VARCHAR" />
    <result column="ADMS_NO" property="admsNo" jdbcType="VARCHAR" />
    <result column="KOR_NAME" property="korName" jdbcType="VARCHAR" />
    <result column="ENG_SUR" property="engSur" jdbcType="VARCHAR" />
    <result column="ENG_NAME" property="engName" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectAllPdfInfo" resultMap="BaseResultMap">
    select A.CAMP_NAME, B.COLL_NAME, C.DEPT_NAME, D.USER_ID, D.APPL_NO, D.APPL_ID, D.ADMS_NO, D.KOR_NAME, D.ENG_SUR, D.ENG_NAME
    from CAMP A, COLL B, DEPT C, APPL D
    where A.CAMP_CODE = D.CAMP_CODE
    and   B.COLL_CODE = D.COLL_CODE
    and   C.DEPT_CODE = D.DEPT_CODE
    and   D.APPL_STS_CODE = '00020'
    order by 1, 2, 3, 4;
  </select>

  <resultMap id="studentPicInfoMap" type="com.apexsoft.ysprj.sysadmin.domain.StudentNumber" >
    <id column="APPL_ID" property="applId" jdbcType="VARCHAR" />
    <result column="STUD_NAME" property="studName" jdbcType="VARCHAR" />
    <result column="STUD_NO" property="studNo" jdbcType="VARCHAR" />
    <result column="INST_NAME" property="instName" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="CORS_NAME" property="corsName" jdbcType="VARCHAR" />
    <result column="S3_FULL_PATH" property="s3FullPath" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectStudentPicInfo" resultMap="studentPicInfoMap">
    select A.APPL_ID, A.STUD_NAME, A.STUD_NO, A.INST_NAME, A.DEPT_NAME, A.CORS_NAME, B.FILE_PATH as S3_FULL_PATH
    from STUD_NO A, APPL_DOC B, APPL C
    where A.APPL_ID = C.APPL_ID
    and C.APPL_NO = B.APPL_NO
    and B.DOC_ITEM_CODE = '00001'
  </select>

</mapper>