/* Block : pageTitle
---------------------------------------------------------*/
#LblockPageTitle {
	background:url(../../img/admin/pageTitle_bg.gif) no-repeat scroll left top;
}
#LblockPageTitle h1 {
	font-size:1.2em;
	padding:7px 0px 0px 5px;
	color:#377797;
}

/* Block : pageSubtitle
---------------------------------------------------------*/
.LblockPageSubtitle h2 {
	color:#F27F04;
	font-size:1em;
	font-weight:bold;
	padding:0px 0px 0px 9px;
	background:url(../../img/admin/pageSubtitle_blt.gif) no-repeat 0 40%;
}

/* Block : pageLocation
---------------------------------------------------------*/
#LblockPageLocation {
	font-size:0.9em;
	padding:8px 0px 0px 0px;
}
#LblockPageLocation li {
	display:inline;
	margin-left:4px;
}
#LblockPageLocation li span {
	color:#4FA1CC;
	padding-left:11px;
	background:url(../../img/admin/pageLocation_separater.gif) no-repeat left top;
}
#LblockPageLocation li.Lfirst span {
	background:none;
}
#LblockPageLocation li span a {
	color:#727271;
}

/* Block : search
---------------------------------------------------------*/
#LblockSearch {
	background-color:#F1F5F7;
	border:solid 2px #BFDCEE;
}
#LblockSearch div {
	position:relative;
	width:100%;
}
#LblockSearch div div form {
	padding:5px 10px;
}
#LblockSearch table caption {
	display:none;
}
#LblockSearch table th {
	text-align:right;
	white-space:nowrap; 
}
#LblockSearch table td {
	padding:2px 10px 2px 2px;
}
#LblockSearch table tr.HLine {
	height:20px;
  	border :3;
        bordercolor: #AAAAAA;
	background-color:#AAAAAA;

}/*Custom Tag*/

#LblockSearch table th.Cat {
	text-align:right;
	white-space:nowrap; 

}/*Custom Tag*/

#LblockSearch input.Limage {

	position:absolute;
	right:12px;
	bottom:12px;
}

/* Block : listTable
---------------------------------------------------------*/
.LblockListTable .Lwrapper {
	position:relative;
	width:100%;
}
.LblockListTable .LblockListInfo {
	position:relative;
	height:25px;
}
.LblockListTable .LblockListInfo span {
	position:absolute;
	left:2px;
	bottom:2px;
}
.LblockListTable .LblockListInfo form {
	position:absolute;
	right:2px;
	bottom:2px;
}
.LblockListTable table {
	border-collapse:collapse;
	width:100%;
}
.LblockListTable table caption {
	display:none;
}
.LblockListTable table th,
.LblockListTable table td {
	height:28px;
	padding:0px 5px;
	white-space:nowrap; 
	border:1px solid #CCCCCC;
	text-align:center;
}
.LblockListTable table th {
	background-color:#F1F4F9;
	font-weight:bold;
}
.LblockListTable table th.LHdata {
	background-color:#C7D3ED;
	font-weight:bold;
}
.LblockListTable table .LHSum {
	background-color:#C7D3ED;
	font-weight:bold;
}
.LblockListTable table td.LRdata {
	background-color:#F1F4F9;
}
.LblockListTable table td.LCSum {
	background-color:#FFEE90;
}
.LblockListTable table td.LRSum {
	background-color:#FFFFB4;
}
.LblockListTable table td.LTSum {
	background-color:#FFBB00;
}
.LblockListTable table tr.LTdata {
	background-color:#C7D3ED;
}
.LblockListTable ul {
	text-align:center;
	font-family:Tahoma;
	font-size:0.9em;
	margin-top:10px;
}

.LblockListTable li {
	display:inline;
	margin-left:5px;
}
.LblockListTable li span {
	font-weight:bold;
	color:#5EA5D5;
}
.LblockListTable li a {
	font-weight:normal;
	color:#666;
}
.LblockListTable li a:hover,
.LblockListTable li a:active {
	color:#5EA5D5;
}
.LblockListTable li.Lbegin a,
.LblockListTable li.Lend a {
	font-weight:bold;
}
.LblockListTable a.Lbtn,
.LblockListTable a.Lbtn button,
.LblockListTable a.Lbtn input { position:relative; margin:0; display:inline-block; border:0; font:11px Sans-serif; white-space:nowrap; background:url(../../img/admin/btn_bg1.gif) no-repeat; vertical-align:middle;}
.LblockListTable a.Lbtn { text-decoration:none; padding:0; background-position:left top;}
.LblockListTable a.Lbtn button,
.LblockListTable a.Lbtn input { height:20px; left:7px; *top:0px; _top:0; padding:0 15px 0 8px; *padding:0 10px 0 3px; line-height:20px; background-position:right top; cursor:pointer;}

/* Block : detail
---------------------------------------------------------*/
.LblockDetail table {
	width:100%;
	border-collapse:collapse;
}
.LblockDetail table caption {
	display:none;
}
.LblockDetail th,
.LblockDetail td {
	border:1px solid #CCCCCC;
	height:28px;
	padding:0 5px;
}
.LblockDetail th {
	background-color:#F1F4F9;
	font-weight:bold;
	text-align:right;
	white-space:nowrap; 
}
.LblockDetail td textarea {
	margin:2px;
}
.LblockDetail label.beforItem {
	font-weight:bold;
	color:#FF0000;
}

/* Block : tab
---------------------------------------------------------*/
.LblockTab {
	background:url(../../img/admin/tab_bg.gif) repeat-x left bottom;
	height:23px;
}
.LblockTab li {
	float:left;
	background:url(../../img/admin/tab_l.gif) no-repeat;
	margin-left:3px;
}
.LblockTab li.Lcurrent {
	background-position:left -23px;
}
.LblockTab li span {
	display:block;
	background:url(../../img/admin/tab_r.gif) no-repeat right top;
}
.LblockTab li.Lcurrent span {
	background-position:right -23px;
}
.LblockTab li span a {
	display:block;
	line-height:23px;
	color:#5E8599;
	text-decoration:none;
	padding:0 20px 0 20px;
}
.LblockTab li.Lcurrent span a {
	font-weight:bold;
	color:#304651;
}
.LblockTab li span a:hover,
.LblockTab li span a:active {
	color:#5E8599;
}
.LblockTab li.Lcurrent span a:hover,
.LblockTab li.Lcurrent span a:active {
	color:#304651;
}

/* Block : tabArea
---------------------------------------------------------*/
/* Block : tree
---------------------------------------------------------*/
.LblockTree {
	border:1px solid #CCCCCC;
}
/* Block : button
---------------------------------------------------------*/
#LblockButton {
	background:url(../../img/admin/button_bg.gif) repeat-x left top;
	padding-top:10px;
	text-align:right;
}
#LblockButton a,
#LblockButton a button,
#LblockButton a input { position:relative; margin:0; display:inline-block; border:0; font:12px Sans-serif; white-space:nowrap; background:url(../../img/admin/btn_bg2.gif) no-repeat; vertical-align:middle;}
#LblockButton a { text-decoration:none; padding:0; background-position:left top;}
#LblockButton a button,
#LblockButton a input { height:21px; left:8px; *top:-1px; _top:0; padding:0 15px 0 8px; *padding:0 10px 0 3px; line-height:22px; background-position:right top; cursor:pointer;}

#LblockButton a {
	margin-right:8px;
}

/* Block : subbutton
---------------------------------------------------------*/
.LblockSubbutton {
	text-align:right;
}
.LblockSubbutton a,
.LblockSubbutton a button,
.LblockSubbutton a input { position:relative; margin:0; display:inline-block; border:0; font:12px Sans-serif; white-space:nowrap; background:url(../../img/admin/btn_bg2.gif) no-repeat; vertical-align:middle;}
.LblockSubbutton a { text-decoration:none; padding:0; background-position:left top;}
.LblockSubbutton a button,
.LblockSubbutton a input { height:21px; left:8px; *top:-1px; _top:0; padding:0 15px 0 8px; *padding:0 10px 0 3px; line-height:22px; background-position:right top; cursor:pointer;}

.LblockSubbutton a {
	margin-right:8px;
}

