<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qna">

	<resultMap id="qna" type="com.apexsoft.ysprj.qna.service.QnaVO">
		<result property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="contents" column="contents"/>
		<result property="readCnt" column="read_cnt"/>
		<result property="useYn" column="use_yn"/>
		<result property="creId" column="cre_id"/>
		<result property="creDate" column="cre_date"/>
		<result property="modId" column="mod_id"/>
        <result property="modDate" column="modDate" />
        <result property="answer" column="answer" />
	</resultMap>

    <insert id="insert" parameterType="com.apexsoft.ysprj.user.domain.Users">
        <![CDATA[
		  INSERT INTO users(username,
                            password,
                            enabled,
                            email,
                            reg_date
                            )
		             VALUES(#{username},
                            #{password},
                            #{enabled},
                            #{email},
                            now())
		]]>
    </insert>

    <select id="selectByPk" resultMap="qna"  parameterType="String">
        <!-- [CDATA[
		  SELECT post_number, post_seq, address, address_detail, eng_address, birth_date, dive_log, email, enabled, eng_name, korean_name, license, mailing_service, nickname, passport_number, password, phone_number, sms_service, username, grade, reg_date
		    FROM users
			WHERE 1=1
			AND username = #{username}
		]] -->
        <![CDATA[
		  SELECT username, password, enabled
		    FROM users
			WHERE 1=1
			AND username = #{username}
		]]>
    </select>

    <select id="selectQnaList" parameterType="com.apexsoft.ysprj.qna.web.form.QnaSearchForm" resultMap="qna" >
		<![CDATA[
		  SELECT id, title, contents, read_cnt, use_yn, cre_id, cre_date, mod_id, mod_date, answer
		    FROM QNA
			WHERE 1=1
		]]>
        <if test="searchCondition == 1">
            <![CDATA[AND title like concat( '%',#{searchKeyword}, '%' )]]>
        </if>
        <if test="searchCondition == 2">
            <![CDATA[AND contents like concat( '%', #{searchKeyword}, '%' )]]>
        </if>
        ORDER BY cre_date desc
	</select>

    <select id="selectTotalCount" parameterType="com.apexsoft.ysprj.qna.web.form.QnaSearchForm" resultType="java.lang.Integer" >
        <![CDATA[
		  SELECT count(*)
		    FROM QNA
			WHERE 1=1
		]]>
        <if test="searchCondition == 1">
            <![CDATA[AND title like concat( '%',#{searchKeyword}, '%' )]]>
        </if>
        <if test="searchCondition == 2">
            <![CDATA[AND contents like concat( '%', #{searchKeyword}, '%' )]]>
        </if>
    </select>

    <update id="updateUsers" parameterType="com.apexsoft.ysprj.user.domain.Users">
        <![CDATA[
		  UPDATE users SET
		                    post_number = #{postNumber},
		                    post_seq = #{postSeq},
		                    address = #{address},
		                    address_detail = #{addressDetail},
		                    eng_address = #{engAddress},
                            birth_date = #{birthDate},
                            dive_log = #{diveLog},
                            email = #{email},
                            eng_name = #{engName},
                            korean_name = #{koreanName},
                            license = #{license},
                            mailing_service = #{mailingService},
                            nickname = #{nickname},
                            passport_number = #{passportNumber},
                            password = #{password},
                            phone_number = #{phoneNumber},
                            sms_service = #{smsService}
			WHERE username = #{username}
		]]>
    </update>

    <update id="updateUsersGrade" parameterType="map">
        <![CDATA[
		  UPDATE users SET
		    grade = #{grade}
			WHERE username = #{username}
		]]>
    </update>


    <!-- Queuries for Autority      -->


    <select id="selectAuthorities" resultType="com.apexsoft.ysprj.user.domain.Authorities"  parameterType="String">
        <![CDATA[
		  SELECT username, authority
		    FROM authorities
			WHERE 1=1
			AND username = #{username}
		]]>
    </select>


    <insert id="insertAuthority"  parameterType="com.apexsoft.ysprj.user.domain.Authorities" >
        <![CDATA[
		  INSERT INTO authorities
		                   (authority,
		                    username)
		             VALUES(#{authority},
		                    #{username})
		]]>
    </insert>

    <delete id="deleteAuthority" parameterType="com.apexsoft.ysprj.user.domain.Authorities">
        <![CDATA[
		  DELETE FROM authorities
			WHERE username = #{username}
			AND authority = #{authority}
		]]>
    </delete>



</mapper>