<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apexsoft.ysprj.applicants.application.sqlmap.EntireApplicationMapper">

    <resultMap id="entireApplicationOneToOne"
               type="com.apexsoft.ysprj.unused.EntireApplication">
        <association property="application"
                     javaType="com.apexsoft.ysprj.applicants.application.domain.Application">
            <id column="APPL_NO" jdbcType="INTEGER" property="applNo" />
            <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
            <result column="ADMS_NO" jdbcType="VARCHAR" property="admsNo" />
            <result column="ENTR_YEAR" jdbcType="VARCHAR" property="entrYear" />
            <result column="ADMS_TYPE_CODE" jdbcType="VARCHAR" property="admsTypeCode" />
            <result column="APPL_ATTR_CODE" jdbcType="VARCHAR" property="applAttrCode" />
            <result column="DEPT_CODE" jdbcType="VARCHAR" property="deptCode" />
            <result column="ARI_INST_CODE" jdbcType="VARCHAR" property="ariInstCode" />
            <result column="CORS_TYPE_CODE" jdbcType="VARCHAR" property="corsTypeCode" />
            <result column="DETL_MAJ_CODE" jdbcType="VARCHAR" property="detlMajCode" />
            <result column="INP_DETL_MAJ" jdbcType="VARCHAR" property="inpDetlMaj" />
            <result column="PART_TIME_YN" jdbcType="VARCHAR" property="partTimeYn" />
            <result column="KOR_NAME" jdbcType="VARCHAR" property="korName" />
            <result column="CHN_NAME" jdbcType="VARCHAR" property="chnName" />
            <result column="ENG_SUR" jdbcType="VARCHAR" property="engSur" />
            <result column="ENG_NAME" jdbcType="VARCHAR" property="engName" />
            <result column="RGST_NO" jdbcType="VARCHAR" property="rgstNo" />
            <result column="ZIP_CODE" jdbcType="VARCHAR" property="zipCode" />
            <result column="ADDR" jdbcType="VARCHAR" property="addr" />
            <result column="DETL_ADDR" jdbcType="VARCHAR" property="detlAddr" />
            <result column="TEL_NUM" jdbcType="VARCHAR" property="telNum" />
            <result column="MOBI_NUM" jdbcType="VARCHAR" property="mobiNum" />
            <result column="FAX_NUM" jdbcType="VARCHAR" property="faxNum" />
            <result column="MAIL_ADDR" jdbcType="VARCHAR" property="mailAddr" />
            <result column="APPL_ID" jdbcType="VARCHAR" property="applId" />
            <result column="APPL_STS_CODE" jdbcType="VARCHAR" property="applStsCode" />
            <result column="PRIV_INFO_YN" jdbcType="VARCHAR" property="privInfoYn" />
            <result column="APPL_CRE_ID" jdbcType="VARCHAR" property="creId" />
            <result column="APPL_CRE_DATE" jdbcType="DATE" property="creDate" />
            <result column="APPL_MOD_ID" jdbcType="VARCHAR" property="modId" />
            <result column="APPL_MOD_DATE" jdbcType="DATE" property="modDate" />
        </association>
        <association property="applicationGeneral"
                     javaType="com.apexsoft.ysprj.applicants.application.domain.ApplicationGeneral">
            <id column="APPL_NO" property="applNo" jdbcType="INTEGER" />
            <result column="CURR_WRKP_NAME" property="currWrkpName" jdbcType="VARCHAR" />
            <result column="CURR_WRKP_DAY" property="currWrkpDay" jdbcType="VARCHAR" />
            <result column="CURR_WRKP_TEL" property="currWrkpTel" jdbcType="VARCHAR" />
            <result column="EMER_CONT_CODE" property="emerContCode" jdbcType="VARCHAR" />
            <result column="EMER_CONT_NAME" property="emerContName" jdbcType="VARCHAR" />
            <result column="EMER_CONT_TEL" property="emerContTel" jdbcType="VARCHAR" />
            <result column="HNDC_GRAD" property="hndcGrad" jdbcType="VARCHAR" />
            <result column="HNDC_TYPE" property="hndcType" jdbcType="VARCHAR" />
            <result column="MLTR_SERV_CODE" property="mltrServCode" jdbcType="VARCHAR" />
            <result column="MLTR_JOIN_DAY" property="mltrJoinDay" jdbcType="VARCHAR" />
            <result column="MLTR_DSCH_DAY" property="mltrDschDay" jdbcType="VARCHAR" />
            <result column="MLTR_TYPE_CODE" property="mltrTypeCode" jdbcType="VARCHAR" />
            <result column="MLTR_RANK_CODE" property="mltrRankCode" jdbcType="VARCHAR" />
            <result column="BACH_GRAD_AVR" property="bachGradAvr" jdbcType="VARCHAR" />
            <result column="BACH_GRAD_FULL" property="bachGradFull" jdbcType="VARCHAR" />
            <result column="MAST_GRAD_AVR" property="mastGradAvr" jdbcType="VARCHAR" />
            <result column="MAST_GRAD_FULL" property="mastGradFull" jdbcType="VARCHAR" />
            <result column="FORL_EXMP_CODE" property="forlExmpCode" jdbcType="VARCHAR" />
            <result column="GENE_CRE_ID" property="creId" jdbcType="VARCHAR" />
            <result column="GENE_CRE_DATE" property="creDate" jdbcType="DATE" />
            <result column="GENE_MOD_ID" property="modId" jdbcType="VARCHAR" />
            <result column="GENE_MOD_DATE" property="modDate" jdbcType="DATE" />
        </association>
        <association property="applicationETCWithBLOBs"
                     javaType="com.apexsoft.ysprj.applicants.application.domain.ApplicationETCWithBLOBs">
            <id column="APPL_NO" property="applNo" jdbcType="INTEGER" />
            <result column="COV_LETT" property="covLett" jdbcType="LONGVARCHAR" />
            <result column="STUD_PLAN" property="studPlan" jdbcType="LONGVARCHAR" />
            <result column="ETC_CRE_ID" property="creId" jdbcType="VARCHAR" />
            <result column="ETC_CRE_DATE" property="creDate" jdbcType="DATE" />
            <result column="ETC_MOD_ID" property="modId" jdbcType="VARCHAR" />
            <result column="ETC_MOD_DATE" property="modDate" jdbcType="DATE" />
        </association>
        <association property="highSchool"
                     javaType="com.apexsoft.ysprj.applicants.application.domain.ApplicationAcademy">
            <id column="APPL_NO" property="applNo" jdbcType="INTEGER" />
            <id column="ACAD_SEQ" property="acadSeq" jdbcType="INTEGER" />
            <result column="ACAD_TYPE_CODE" property="acadTypeCode" jdbcType="VARCHAR" />
            <result column="LAST_SCHL_YN" property="lastSchlYn" jdbcType="VARCHAR" />
            <result column="ENTR_DAY" property="entrDay" jdbcType="VARCHAR" />
            <result column="GRDA_DAY" property="grdaDay" jdbcType="VARCHAR" />
            <result column="SCHL_CODE" property="schlCode" jdbcType="VARCHAR" />
            <result column="SCHL_NAME" property="schlName" jdbcType="VARCHAR" />
            <result column="COLL_NAME" property="collName" jdbcType="VARCHAR" />
            <result column="MAJ_NAME" property="majName" jdbcType="VARCHAR" />
            <result column="GRAD_AVR" property="gradAvr" jdbcType="VARCHAR" />
            <result column="GRAD_FULL" property="gradFull" jdbcType="VARCHAR" />
            <result column="GRDA_TYPE_CODE" property="grdaTypeCode" jdbcType="VARCHAR" />
            <result column="QUAL_EXAM_DAY" property="qualExamDay" jdbcType="VARCHAR" />
            <result column="QUAL_AREA_CODE" property="qualAreaCode" jdbcType="VARCHAR" />
            <result column="SCHL_ADDR" property="schlAddr" jdbcType="VARCHAR" />
            <result column="SCHL_TEL" property="schlTel" jdbcType="VARCHAR" />
            <result column="HIGH_CRE_ID" property="creId" jdbcType="VARCHAR" />
            <result column="HIGH_CRE_DATE" property="creDate" jdbcType="DATE" />
            <result column="HIGH_MOD_ID" property="modId" jdbcType="VARCHAR" />
            <result column="HIGH_MOD_DATE" property="modDate" jdbcType="DATE" />
        </association>
        <!--<collection property="collegeList" column="{applNo=APPL_NO, acadTypeCode=ACAD_TYPE_CODE}"-->
                    <!--ofType="com.apexsoft.ysprj.applicants.application.domain.ApplicationAcademy"-->
                    <!--select="selectCollegeListForEntireApplication"/>-->
        <!--<collection property="graduateList" column="{applNo=APPL_NO, acadTypeCode=ACAD_TYPE_CODE}"-->
                    <!--ofType="com.apexsoft.ysprj.applicants.application.domain.ApplicationAcademy"-->
                    <!--select="selectGraduateListForEntireApplication"/>-->
        <!--<collection property="applicationExperienceList" column="APPL_NO"-->
                    <!--ofType="com.apexsoft.ysprj.applicants.application.domain.ApplicationExperience"-->
                    <!--select="selectExperienceListForEntireApplication"/>-->
        <!--<collection property="applicationLanguageList" column="APPL_NO"-->
                    <!--ofType="com.apexsoft.ysprj.applicants.application.domain.ApplicationLanguage"-->
                    <!--select="selectLanguageListForEntireApplication"/>-->

    </resultMap>

    <sql id="Academy_Column_List" >
        APPL_NO,
        ACAD_SEQ,
        ACAD_TYPE_CODE,
        LAST_SCHL_YN,
        ENTR_DAY,
        GRDA_DAY,
        SCHL_CODE,
        SCHL_NAME,
        COLL_NAME,
        MAJ_NAME,
        GRAD_AVR,
        GRAD_FULL,
        GRDA_TYPE_CODE,
        QUAL_EXAM_DAY,
        QUAL_AREA_CODE,
        SCHL_ADDR,
        SCHL_TEL,
        CRE_ID,
        CRE_DATE,
        MOD_ID,
        MOD_DATE
    </sql>

    <select id="selectOneToOneEntireApplicationByApplNo"
            resultMap="entireApplicationOneToOne"
            parameterType="int">
        select
                a.APPL_NO,
                a.USER_ID,
                a.ADMS_NO,
                a.ENTR_YEAR,
                a.ADMS_TYPE_CODE,
                a.APPL_ATTR_CODE,
                a.DEPT_CODE,
                a.ARI_INST_CODE,
                a.CORS_TYPE_CODE,
                a.DETL_MAJ_CODE,
                a.INP_DETL_MAJ,
                a.PART_TIME_YN,
                a.KOR_NAME,
                a.CHN_NAME,
                a.ENG_SUR,
                a.ENG_NAME,
                a.RGST_NO,
                a.ZIP_CODE,
                a.ADDR,
                a.DETL_ADDR,
                a.TEL_NUM,
                a.MOBI_NUM,
                a.FAX_NUM,
                a.MAIL_ADDR,
                a.APPL_ID,
                a.APPL_STS_CODE,
                a.PRIV_INFO_YN,
                a.CRE_ID as APPL_CRE_ID,
                a.CRE_DATE as APPL_CRE_ID,
                a.MOD_ID as APPL_MOD_ID,
                a.MOD_DATE as APPL_MOD_DATA,
                b.CURR_WRKP_NAME,
                b.CURR_WRKP_DAY,
                b.CURR_WRKP_TEL,
                b.EMER_CONT_CODE,
                b.EMER_CONT_NAME,
                b.EMER_CONT_TEL,
                b.HNDC_GRAD,
                b.HNDC_TYPE,
                b.MLTR_SERV_CODE,
                b.MLTR_JOIN_DAY,
                b.MLTR_DSCH_DAY,
                b.MLTR_TYPE_CODE,
                b.MLTR_RANK_CODE,
                b.BACH_GRAD_AVR,
                b.BACH_GRAD_FULL,
                b.MAST_GRAD_AVR,
                b.MAST_GRAD_FULL,
                b.FORL_EXMP_CODE,
                b.CRE_ID as GENE_CRE_ID,
                b.CRE_DATE as GENE_CRE_ID,
                b.MOD_ID as GENE_MOD_ID,
                b.MOD_DATE as GENE_MOD_DATA,
                c.COV_LETT,
                c.STUD_PLAN,
                c.CRE_ID as ETC_CRE_ID,
                c.CRE_DATE as ETC_CRE_ID,
                c.MOD_ID as ETC_MOD_ID,
                c.MOD_DATE as ETC_MOD_DATA,
                d.ACAD_SEQ,
                d.ACAD_TYPE_CODE,
                d.LAST_SCHL_YN,
                d.ENTR_DAY,
                d.GRDA_DAY,
                d.SCHL_CODE,
                d.SCHL_NAME,
                d.COLL_NAME,
                d.MAJ_NAME,
                d.GRAD_AVR,
                d.GRAD_FULL,
                d.GRDA_TYPE_CODE,
                d.QUAL_EXAM_DAY,
                d.QUAL_AREA_CODE,
                d.SCHL_ADDR,
                d.SCHL_TEL,
                d.CRE_ID as HIGH_CRE_ID,
                d.CRE_DATE as HIGH_CRE_DATE,
                d.MOD_ID as HIGH_MOD_ID,
                d.MOD_DATE as HIGH_MOD_DATE
        from APPL a, APPL_GENE b, APPL_ETC c, APPL_ACAD d
        where a.APPL_NO = b.APPL_NO
        and   b.APPL_NO = c.APPL_NO
        and   c.APPL_NO = d.APPL_NO
        and   a.APPL_NO = #{applNo}
    </select>

    <select id="selectAcademyListForEntireApplication"
            resultType="com.apexsoft.ysprj.applicants.application.domain.ApplicationAcademy"
            parameterType="com.apexsoft.ysprj.applicants.application.domain.ParamForAcademy">
        select
                <include refid="Academy_Column_List" />
        from APPL_ACAD
        where APPL_NO = #{applNo}
          and ACAD_TYPE_CODE = #{acadTypeCode}
    </select>

    <select id="selectExperienceListForEntireApplication"
            resultType="com.apexsoft.ysprj.applicants.application.domain.ApplicationExperience"
            parameterType="int">
        select
                APPL_NO,
                EXPR_SEQ,
                JOIN_DAY,
                RETR_DAY,
                CORP_NAME,
                EXPR_DESC,
                CRE_ID,
                CRE_DATE,
                MOD_ID,
                MOD_DATE
        from APPL_EXPR
        where APPL_NO = #{applno}
    </select>

    <select id="selectLanguageListForEntireApplication"
            resultType="com.apexsoft.ysprj.applicants.application.domain.ApplicationLanguage"
            parameterType="int">
        select
                APPL_NO,
                LANG_SEQ,
                LANG_EXAM_CODE,
                TOFL_TYPE_CODE,
                LANG_GRAD,
                EXAM_NO,
                EXAM_DAY,
                EXPR_DAY,
                CRE_ID,
                CRE_DATE,
                MOD_ID,
                MOD_DATE
        from APPL_LANG
        where APPL_NO = #{applno}
    </select>

    <select id="selectApplicationByApplNo"
            resultType="com.apexsoft.ysprj.applicants.application.domain.Application"
            parameterType="int">
        select
                a.APPL_NO,
                a.USER_ID,
                a.ADMS_NO,
                a.ENTR_YEAR,
                a.ADMS_TYPE_CODE,
                a.APPL_ATTR_CODE,
                a.DEPT_CODE,
                a.ARI_INST_CODE,
                a.CORS_TYPE_CODE,
                a.DETL_MAJ_CODE,
                a.INP_DETL_MAJ,
                a.PART_TIME_YN,
                a.KOR_NAME,
                a.CHN_NAME,
                a.ENG_SUR,
                a.ENG_NAME,
                a.RGST_NO,
                a.ZIP_CODE,
                a.ADDR,
                a.DETL_ADDR,
                a.TEL_NUM,
                a.MOBI_NUM,
                a.FAX_NUM,
                a.MAIL_ADDR,
                a.APPL_ID,
                a.APPL_STS_CODE,
                a.PRIV_INFO_YN,
                a.CRE_ID,
                a.CRE_DATE,
                a.MOD_ID,
                a.MOD_DATE
        from APPL a
        where a.APPL_NO = #{applNo}
    </select>

    <select id="selectCampusCollegeCode" parameterType="java.lang.Integer"
            resultType="com.apexsoft.ysprj.applicants.application.domain.CampusCollege">
        SELECT F.CAMP_CODE as campCode, E.COLL_CODE as collCode
        FROM APPL A left outer join ARI_INST G
        on A.ARI_INST_CODE = G.ARI_INST_CODE ,
        APPL_ETC B, ADMS_CORS C, DEPT D, COLL E, CAMP F, DETL_MAJ I
        WHERE
        A.APPL_NO = B.APPL_NO
        AND A.ADMS_NO = C.ADMS_NO
        AND A.DEPT_CODE = C.DEPT_CODE
        AND A.CORS_TYPE_CODE = C.CORS_TYPE_CODE
        AND A.DEPT_CODE = D.DEPT_CODE
        AND D.COLL_CODE = E.COLL_CODE
        AND E.CAMP_CODE = F.CAMP_CODE
        AND A.DETL_MAJ_CODE = I.DETL_MAJ_CODE
        AND A.APPL_NO = #{applNo}
    </select>



    <update id="updateApplicationByApplNo" parameterType="com.apexsoft.ysprj.applicants.application.domain.Application">
		  update APPL set
                USER_ID = #{userId},
                ADMS_NO = #{admsNo},
                ENTR_YEAR = #{entrYear},
                ADMS_TYPE_CODE = #{admsTypeCode},
                APPL_ATTR_CODE = #{applAttrCode},
                DEPT_CODE = #{deptCode},
                ARI_INSST_CODE = #{ariInsstCode},
                CORS_TYPE_CODE = #{corsTypeCode},
                DETL_MAJ_CODE = #{detlMajCode},
                INP_DETL_MAJ = #{inpDetlMaj},
                PART_TIME_YN = #{partTimeYn},
                KOR_NAME = #{korName},
                CHN_NAME = #{chnName},
                ENG_SUR = #{engSur},
                ENG_NAME = #{engName},
                RGST_NO = #{rgstNo},
                ZIP_CODE = #{zipCode},
                ADDR = #{addr},
                DETL_ADDR = #{detlAddr},
                TEL_NUM = #{telNum},
                MOBI_NUM = #{mobiNum},
                FAX_NUM = #{faxNum},
                MAIL_ADDR = #{mailAddr},
                APPL_ID = #{applId},
                APPL_STS_CODE = #{applStsCode},
                PRIV_INFO_YN = #{privInfoYn},
                CRE_ID = #{creId},
                CRE_DATE = #{creDate},
                MOD_ID = #{modId},
                MOD_DATE = #{modDate}
			WHERE APPL_NO = #{applNo}
    </update>
    
    <update id="updateApplicationKorNameByAdmin" parameterType="com.apexsoft.ysprj.applicants.application.domain.Application">
		  update APPL set
                KOR_NAME = #{korName}},
                MOD_ID = #{modId},
                MOD_DATE = #{modDate}
			WHERE APPL_NO = #{applNo}
    </update>
    <update id="updateApplicationEngNameByAdmin" parameterType="com.apexsoft.ysprj.applicants.application.domain.Application">
		  update APPL set
                ENG_SUR = #{engSur},
                ENG_NAME = #{engName},
                MOD_ID = #{modId},
                MOD_DATE = #{modDate}
			WHERE APPL_NO = #{applNo}
    </update>
    <update id="updateApplicationRgstNoByAdmin" parameterType="com.apexsoft.ysprj.applicants.application.domain.Application">
		  update APPL set
                RGST_NO = #{rgstNo},
                MOD_ID = #{modId},
                MOD_DATE = #{modDate}
			WHERE APPL_NO = #{applNo}
    </update>
    <update id="updateApplicationAddrByAdmin" parameterType="com.apexsoft.ysprj.applicants.application.domain.Application">
		  update APPL set
                ZIP_CODE = #{zipCode},
                ADDR = #{addr},
                DETL_ADDR = #{detlAddr},
                MOD_ID = #{modId},
                MOD_DATE = #{modDate}
			WHERE APPL_NO = #{applNo}
    </update> 
    <update id="updateApplicationMailAddrByAdmin" parameterType="com.apexsoft.ysprj.applicants.application.domain.Application">
		  update APPL set
                MAIL_ADDR = #{mailAddr},
                MOD_ID = #{modId},
                MOD_DATE = #{modDate}
			WHERE APPL_NO = #{applNo}
    </update> 
    <update id="updateApplicationTelNumByAdmin" parameterType="com.apexsoft.ysprj.applicants.application.domain.Application">
		  update APPL set
                TEL_NUM = #{telNum},
                MOD_ID = #{modId},
                MOD_DATE = #{modDate}
			WHERE APPL_NO = #{applNo}
    </update> 
    <update id="updateApplicationMobiNumByAdmin" parameterType="com.apexsoft.ysprj.applicants.application.domain.Application">
		  update APPL set
                MOBI_NUM = #{mobiNum},
                MOD_ID = #{modId},
                MOD_DATE = #{modDate}
			WHERE APPL_NO = #{applNo}
    </update>

</mapper>